.mapboxgl-ctrl-logo {
    display: none !important;
}
.mapbox-directions-instructions {
    display: none !important;
  }

.your-active-group-marker {
    background-image: url('/animations/active-mic.gif');
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.other-active-group-marker {
    background-image: url('/animations/group-mic.gif');
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}